<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div>
        <h6 class="brand-name">Décor</h6>
        <p class="text-justify text-black">
          Décor is synonymous to well-made furniture that brings alive the aesthetics of your home, 
          giving it an elegant look and a luxurious feel. We aim to make a difference in the way people shop for their 
          urniture and home decor needs. We believe choosing furniture should be easy to acquire and pleasant to 
          look at and this approach helps us stay unique in the industry!
        </p>
      </div>
    </div>
    <hr class="text-black">
  </div>
  <div class="container">
    <div class="row">
      <div class="mb-4">
        <p class="copyright-text text-center text-black">Copyright &copy; 2022 All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
