

.btn {
    margin: 5px;
}


table{
    border: 2px solid black;
}
.heading{
    font-family: 'Ultra', cursive;
    background: -webkit-linear-gradient( rgba(44,83,131,1), rgba(95,175,201,1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}
